@use "sass:selector";

//Global Color
$white: #fff;
$gray:#595959;
$black: #000;
$orange: #db9300;
$light-orange: #f0ddb8;
$bubble-message-owner: #f9f3dd;
$bubble-message: #f2f3f5;

//Global Variables
$font-family: "Shabnam";
